<%= form_for([ @poll, @question ]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.label :kind %><br>
    <% @kind_options.each do |option| %>
      <label>
        <%= f.radio_button :kind, option[1] %>
        <%= option[0] %>
      </label>
  <% end %>
  <p>Specify some choices:</p>
  <%= f.fields_for :possible_answers do |c| %>
<p>
  <%= c.text_field :title, placeholder: "Type your choice", class: "form-control" %>
</p>
<% end %>
</div>





  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>

