<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
<%= link_to 'Add Question', new_poll_question_path(@poll), class: "btn btn-danger" %>

<h2>Questions</h2>


	<%= @poll.questions.each do |question| %>
	<li><%= question.title %></li>
	<%= @question.possible_answers.each do |possible_answer| %>
	<li><%= possible_answer.title %></li>
	<% end %>
	<% end %>

